<%- include('partial/header', { title: 'Wishmewell Apartment',email:email,roleName:roleName }) %>
<%- include('partial/sidebar', { name: name}) %>
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<div class="mt-5">
								<h4 class="card-title float-left mt-2">Customers</h4> 
								<p href="add-customer.html" class="btn btn-primary float-right veiwbutton">
									Viewing all Customers</p> 
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body booking_card">
								<div class="table-responsive">
									<form method="get" action="/portal/all-customer" style="float: right;">
											
										<div class="input-group">
										  <input type="text" class="form-control" name="phonenumber" placeholder="Search by phonenumber" required>
										  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
										  <br/>
										</div>
										

									  </form>
									<table class="datatable table table-stripped table table-hover table-center mb-0">
										<thead>
											<tr>
												<!-- <th>Booking ID</th> -->
												<th>Name</th>
												<th>Email</th>
												<th>Phone Numbers</th>
												<th>Booking Count</th>
												<th>Address</th>
												<!-- <th>Arrival Date</th>
												<th>Depature Date</th>
												<th>Email ID</th>
												<th>Ph.Number</th>
												<th>Status</th> -->
												<!-- <th class="text-right">Actions</th>  -->
											</tr>
										</thead>
										<tbody>
											<% customers.map(element => { %>
											<tr>
												<!-- <td>BKG-0001</td> -->
												<td>
													<h2 class="table-avatar">
                                                    <a href="/portal/all-customer?email=<%=element.guest_email%>&name=<%=element.guest_name%>" class="avatar avatar-sm mr-2">

													</a>
                                                    <a href="/portal/all-customer?email=<%=element.guest_email%>&name=<%=element.guest_name%>">
														<%=element.guest_name%><span>#<%=element.success_count%></span></a>
                                                    </h2>
                                                </td>
												<td><%=element.guest_email%></td>
												<td><%=element.guest_phone%></td>
												<!-- <td>10</td> -->
												<td><%=element.success_count%></td>
												<td><%=element.guest_address%></td>
												<!-- <td>22-03-2020</td>
												<td>23-03-2020</td>
												<td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1662797b7b6f74736478777a56736e777b667a733875797b">[email&#160;protected]</a></td>
												<td>631-254-6480</td>
												<td>
													<div class="actions"> <a href="#" class="btn btn-sm bg-success-light mr-2">Active</a> </div>
												</td> -->
											
											</tr>
											<% }) %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="delete_asset" class="modal fade delete-modal" role="dialog">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body text-center"> <img src="assets/img/sent.png" alt="" width="50" height="46">
							<h3 class="delete_class">Are you sure want to delete this Asset?</h3>
							<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
								<button type="submit" class="btn btn-danger">Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="assets/js/jquery-3.5.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatables/datatables.min.js"></script>
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/raphael/raphael.min.js"></script>
	<script src="assets/js/script.js"></script>
</body>

</html>