<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from kodesolution.com/html/2023/hoexr-html/page-rooms.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Aug 2023 12:36:10 GMT -->
<head>
	<meta charset="utf-8">
	<title>Wishmewell Apartment </title>
	<!-- Stylesheets -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
  <style>
    .image-2 img {
width: 100%;
height: 500px;
object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* Optional: Add some margin for small screens to better center */
@media (max-width: 576px) {
.room-block {
margin-bottom: 20px;

}
.image-2 img{
margin-inline: 10px;
}
}
 </style>
</head>

<body>
<div class="page-wrapper">
	<!-- Preloader -->
	<div class="preloader"></div>

  <!-- Main Header-->
  <%- include('partials/header', { title: 'Wishmewell Apartment',activeMarquees:activeMarquees }) %>

	<!--End Main Header -->

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(images/background/page-title-bg.png);">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Rooms</h1>
				<ul class="page-breadcrumb">
					<li><a href="index-3.html">Home</a></li>
					<li>Rooms</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

  <!-- rooms-section -->
  <section class="rooms-section pb-100">
    <div class="auto-container">
      <div class="row">
        <!-- room-block -->
        <div class="row">
          <% categories.forEach(pkg => { %>
            <!-- Each package as a column -->
            <div class="room-block col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
              <div class="inner-box wow fadeIn text-center">
                <div class="image-box">
                  <figure class="image-2 overlay-anim">
                    <img src="<%= pkg.picture[0] %>" alt="" class="img-fluid">
                  </figure>
                </div>
                <div class="content-box">
                  <%= pkg.category_name.toUpperCase() %>
                  <h6 class="title"><a href="/rooms?id=<%= pkg._id %>"><%= pkg.category_name %></a></h6>
                  <span class="price">#<%= pkg.price %> / NIGHT</span>
                </div>
                <div class="box-caption">
                  <a href="/rooms?id=<%= pkg._id %>" title="" class="book-btn">View</a>
                  <ul class="bx-links">
                    <li><a href="room-details.html" title=""><i class="fa fa-wifi"></i></a></li>
                    <li><a href="room-details.html" title=""><i class="fa fa-bed"></i></a></li>
                    <li><a href="room-details.html" title=""><i class="fa fa-bath"></i></a></li>
                    <li><a href="room-details.html" title=""><i class="fa fa-shower"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </section>
  <!-- End rooms-section -->

  <!-- Main Footer -->
  <%- include('partials/footer') %>
  <!--End Main Footer -->

	</div><!-- End Page Wrapper -->
	<!-- Scroll To Top -->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
	<script src="js/jquery.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/wow.js"></script>
	<script src="js/appear.js"></script>
	<script src="js/owl.js"></script>
	<script src="js/script.js"></script>
</body>


<!-- Mirrored from kodesolution.com/html/2023/hoexr-html/page-rooms.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Aug 2023 12:36:12 GMT -->
</html>